body {
    background-image: url("img/BG.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
video {
    width: 400px;
    height: 400px;
    background: rgba(255,255,255,0.5);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border: 1px solid #ccc;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
}
img {
height: 609px;
width: auto;
}
#footer{
     position: fixed;
     bottom: 0px;
     margin: 0px;
     padding: 0px;
     left: 0px;
     right: 0px;
     width: 100%;
     height: 40px;
     font-family: Arial;
     text-shadow: 1px 1px 1px black;
     border-top: 1px solid rgba(0,0,0,0.3);
     background-color: rgba(0,0,0,0.25);
     box-shadow: inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px  rgba(255,255,255,0.25), inset 0 -15px  30px rgba(255,255,255,0.3);
     
}


#btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #cc93cc;
  font-size: 33px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 680px;
}

#btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
